$font-family--main: 'Open Sans', Arial, sans-serif;
$font-family--title: 'Source Sans Pro', Arial, sans-serif;
$font-family--logo: 'Big John';
$font-family--skills: 'Roboto', Arial, sans-serif;

$font-size--main: 16px;
$font-size--title: 20px;

$font-weight--main: 400;
$font-weight--title: 300;

$line-height--main: 1.75;

$letter-spacing-main: 0.05em;
$letter-spacing-title: 0.2em;


$color-gray: rgb(129, 134, 142);
$color-gray--dark: rgb(70, 70, 70);
$color-green: rgb(25, 189, 154);
$color-white: rgb(255, 255, 255);



