.main-footer__logo {
	display: block;
	margin: 50px auto 10px auto;
	text-align: center;
}

.main-footer__text {
	margin-bottom: 40px;
	text-align: center;
}

.main-footer__social-list {
	padding-left: 0;
	text-align: center;
}

.main-footer__social-item {
	display: inline-block;
	padding: 4px;

	&:hover {
	  transform: scale(1.2);
	}
}
